#floorplan-section
  .row
    .large-12.columns
      .large-4.column
        .floorplan-image
          .hide-for-small
            %a.fancybox{href: "{{ plan.large_image.url }}", rel: "floorplan_image", title: "{{ plan.name }}"}
              %img{alt: "{{ plan.name }}", src: "{{ plan.image.url | resize: '190x160' }}" }
          .show-for-small
            %img{alt: "{{ plan.name }}", src: "{{ plan.image.url }}" }
      .large-4.columns.floorplan-info
        .name
          .txt
            %p.unit-name
              {{ plan.name }}
            {{ plan.description }}
            %p
              {{ plan.size }}
          %p.no_dollar
            {% if plan.price > 0 %}
            {{ plan.price | money }}
            {% else %}
            Call for pricing
            {% endif %}
          %a.enlarge.fancybox.hide-for-small{href: "{{ plan.large_image.url }}", rel: "floorplan_enlarge", title: "{{ plan.name }}"}
            %span
              Enlarge Floor Plan
      .large-4.columns.colAvailability
        .row.check
          %a.availability{href: "{{ plan.availability }}", target: "_blank", title: "Check Availability"}
            Check Availability
.clear