/* -- fonts
------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);

/* --- globals
----------------------------- */
html, body {
  height: 100%;
  width: 100%;
}

.off-canvas-wrap,.inner-wrap {
  height: 100%;
}

body {
  font-family: 'Maven Pro', 'sans-serif';
}

i {
  font-size: 30px;
}

button, .button {
  background-color: #10a6dd;
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 15px;
  color: white;
}

button:hover, .button:hover {
  background-color: #62b9d6;
}

h1 {
  font-size: 20px;
  font-family: 'Maven Pro', 'sans-serif';
  text-transform: uppercase;
  color: #36c6cf;
  font-weight: 500;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #464841;
  font-weight: 300;
}

p {
  color: #2f2a29;
  font-size: 14px;
  line-height: 22px;
}

a, a span {
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  color: #c1293c;
  text-decoration: underline;
}

button, .button {
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
}

a:hover {
  cursor: pointer;
}

a, a:focus, a:active {
  outline: none;
}

a {
  color: #1fa6d2;
}

.column {
  padding-left: 0;
  padding-right: 0;
}

header {
  position: relative;
}

header * {
  text-align: center;
}

header .info-panel {
  padding: 5px;
  margin: 30px 0;
  background: rgba(255, 255, 255, 0.8);
}

header .info-panel * {
  margin: 0;
}

.clear {
  clear: both;
}

/* --- containers
----------------------------- */
.row.max-width {
  width: 100%;
}

.row {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.main-section {
  min-height: 100px;
}

.tabs dd.active a {
  background: #008cba;
  color: #fff;
}

.tabs-content {
  margin-bottom: 1.5rem;
  margin-top: 20px;
  padding: 0;
}

.gallery-wrap a img {
  margin-right: 15px;
  margin-bottom: 15px;
}

.date select {
  width: 32%;
}

.spacer5px {
  height: 5px;
  clear: both;
}

.spacer10px {
  height: 10px;
  clear: both;
}

.spacer15px {
  height: 15px;
  clear: both;
}

.spacer20px {
  height: 20px;
  clear: both;
}

.spacer25px {
  height: 25px;
  clear: both;
}

.spacer30px {
  height: 30px;
  clear: both;
}

.spacer40px {
  height: 40px;
  clear: both;
}

.spacer50px {
  height: 50px;
  clear: both;
}

/* --- header
----------------------------- */
.info-panel {
  padding-top: 1.5rem;
}

a.phone {
  font-size: 38px;
  color: white;
  line-height: 0;
  display: inline-block;
  cursor: default;
}

span.leasing {
  color: white;
  text-transform: lowercase;
  font-style: italic;
  margin-bottom: 0;
  float: right;
}

span.leasing p {
  background-image: url("../images/bg/border-left.jpg"), url("../images/bg/border-right.jpg");
  background-position: left, right;
  background-repeat: no-repeat;
  width: 215px;
  padding-right: 95px;
  color: white;
}

/* --- top nav
----------------------------- */
nav.nav-medium {
  display: none;
}

.top-bar ul {
  margin-left: 0;
}

nav {
  background: black;
}

nav ul.top-nav {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

nav ul.top-nav li,
nav ul.top-nav li li {
  display: inline-block;
  padding: 12px 0;
}

nav ul.top-nav li:hover,
nav ul.top-nav li.active {
  background: #36C6CF;
}

nav ul.top-nav li a {
  color: white;
  padding: 0 4px;
  text-decoration: none;
}

/* --- off canvas
----------------------------- */
section.tab-bar-section.middle {
  text-align: left;
}

section.tab-bar-section.middle {
  right: 0;
}

ul.off-canvas-list li label {
  background: #35C6CF;
  color: #fff;
}

ul.off-canvas-list li a {
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

ul.off-canvas-list li:hover a,
ul.off-canvas-list li.active a {
  background: #35C6CF;
}

nav.tab-bar {
  background: #2F2722;
}

section.left-small {
  border-right: 1px solid #fff;
  box-shadow: none;
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4 {
  text-transform: uppercase;
}

.left-off-canvas-menu {
  background: #2F2722;
}

#site-logo-small {
  position: absolute;
  top: 1px;
  left: 75px;
  background: #fdf4e7;
}

/* --- main nav
----------------------------- */
#main-nav {
  height: 200px;
  position: absolute;
  top: 25%;
  margin-top: -50px;
  padding-left: 0px;
  width: 100%;
}

#main-nav ul {
  list-style: none;
  margin: 0px;
  line-height: 20px;
}

#main-nav ul li {
  width: 100%;
  text-align: left;
  height: 40px;
  margin-bottom: -5px;
}

#main-nav ul li a {
  text-transform: uppercase;
  font-size: 13px;
  color: #2f2722;
  display: block;
  padding-left: 55px;
  height: 40px;
  text-decoration: none;
  width: 100%;
}

#main-nav ul li a:nth-child(2) {
  padding-top: 10px;
}

#main-nav ul li span {
  background: url("../images/bg/bg-nav.png") repeat-x;
  height: 40px;
  width: 0;
  display: block;
  float: left;
  margin-top: 0;
  position: absolute;
  z-index: -2;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
}

#main-nav ul li a:hover,
#main-nav ul li li a:hover {
  color: #fff;
  width: 100%;
}

#main-nav ul li.home-nav a:hover,
#main-nav ul li.home-nav.active a {
  background: url("../images/bg/navbg-home.png") no-repeat;
  color: #fff;
}

#main-nav ul li.fp-nav a:hover,
#main-nav ul li.fp-nav.active a {
  background: url("../images/bg/fp-nav.png") no-repeat;
  color: #fff;
}

#main-nav ul li.feature-nav a:hover,
#main-nav ul li.feature-nav.active a {
  background: url("../images/bg/amenities-nav.png") no-repeat;
  color: #fff;
}

#main-nav ul li.photo-nav a:hover,
#main-nav ul li.photo-nav.active a {
  background: url("../images/bg/photo-nav.png") no-repeat;
  color: #fff;
}

#main-nav ul li.residents-nav a:hover,
#main-nav ul li.residents-nav.active a {
  background: url("../images/bg/residents-nav.png") no-repeat;
  color: #fff;
}

#main-nav ul li.location-nav a:hover,
#main-nav ul li.location-nav.active a {
  background: url("../images/bg/location-nav.png") no-repeat;
  color: #fff;
}

#main-nav ul li.contact-nav a:hover,
#main-nav ul li.contact-nav.active a {
  background: url("../images/bg/contact-nav.png") no-repeat;
  color: #fff;
}

#main-nav li.active a, nav li.active > a:first-child {
  color: #fff !important;
  /*  background: url('../images/bg/sidenav-bg.png') no-repeat;*/
}

#main-nav li.active span,
#main-nav li:hover span {
  width: 100%;
}

/* --- right column
----------------------------- */
#right-nav {
  background: #fff;
}

#secondary-nav {
  min-height: 100%;
  margin-left: 10px;
  background: #FDF4E7;
}

#secondary-nav .side-block {
  position: relative;
  z-index: 100;
  overflow: hidden;
  /*  padding: 0px 30px;*/
}

#secondary-nav .header-social,
#secondary-nav-mobile .header-social {
  background: #2f2722;
  padding: 12px 0px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}

#secondary-nav .header-social span,
#secondary-nav-mobile .header-social span {
  font-size: 26px;
  display: inline-block;
  margin-left: 7%;
  color: #FDF4E7;
}

#secondary-nav .header-social a {
  color: #36c6cf;
  position: absolute;
  right: 5%;
  top: 5%;
}

#secondary-nav-mobile {
  display: none;
}

#secondary-nav-mobile .header-social a {
  color: #36c6cf;
}

#secondary-nav .header-social i,
#secondary-nav-mobile .header-social i {
  font-size: 32px;
  margin: 0;
}

#secondary-nav .side-block .button,
#secondary-nav-mobile .side-block .button,
#secondary-nav-mobile .mapit .button {
  background: url("../images/bg/right-nav-button.png") no-repeat;
  width: 243px;
  height: 44px;
}

#secondary-nav .side-block .button:hover,
#secondary-nav-mobile .side-block .button:hover,
#secondary-nav-mobile .mapit .button:hover {
  background: url("../images/bg/right-nav-button-hover.png") no-repeat;
  width: 243px;
  height: 44px;
  opacity: .8;
  color: #2ac6d0;
}

#secondary-nav .button,
#secondary-nav-mobile .button {
  width: 100%;
  margin: 5px 0px;
  text-transform: uppercase;
  padding: 12px 0px;
}

#secondary-nav .orbit-container .orbit-slides-container img {
  width: 100%;
  min-height: 227px;
  height: 100%;
}

#secondary-nav .btn-callout,
#secondary-nav-mobile .btn-callout,
#secondary-nav-mobile p.address {
  text-align: center;
}

#secondary-nav .photo-block {
  height: 28%;
  min-height: 25%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

#secondary-nav .photo-block {
  margin: 10px 0;
}

#secondary-nav .photo-holder {
  position: relative !important;
}

#secondary-nav .photo-side {
/*  height: 100%;*/
/*  max-height: 33%;*/
  width: auto;
}

/* --- content - containers
----------------------------- */

#main-section {
  position: relative;
  height: 100%;
}
#slideshow {
  margin-top: 10px;
  height: auto;
}
/*#main-content {
  margin-top: 55px;
}*/

h1.title-border, article h1 {
  border-bottom: 1px solid #fdf4e7;
}

h1.amenity-list {
  border-bottom: none;
}

#site-pages {
  top: 0;
  left: 0px;
  right: 0;
  position: absolute;
  height: 100%;
  -webkit-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

/* --- feature area
----------------------------- */
.orbit-container .orbit-slides-container img {
  width: 100%;
  height: auto;
}

.orbit-bullets-container,
.orbit-prev,
.orbit-next,
.orbit-timer,
.orbit-slide-number {
  display: none;
}

/* --- left column
----------------------------- */
#site-sidebar {
  width: 0px;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fdf4e7;
  -webkit-box-shadow: 5px 0px 6px 0px rgba(206, 206, 206, 0.7);
  -moz-box-shadow: 5px 0px 6px 0px rgba(206, 206, 206, 0.7);
  box-shadow: 5px 0px 6px 0px rgba(206, 206, 206, 0.7);
  z-index: 1;
}

#site-logo {
  position: fixed;
  width: 210px;
  top: 0;
  left: 3px;
  padding: 25px 0 10px 0;
  z-index: 50;
  -webkit-transition: width 400ms linear;
  -moz-transition: width 400ms linear;
  -ms-transition: width 400ms linear;
  -o-transition: width 400ms linear;
  transition: width 400ms linear;
}

.left-col h4 {
  text-transform: lowercase;
  font-style: italic;
  color: #0099cc;
  font-size: 30px;
}

.left-col .panel {
  background: #10a6dd;
  border: 0;
}

.left-col .panel p {
  font-family: "Oxygen", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.left-col .panel hr {
  border-color: #6dbdda;
}

.left-col .panel .button, .left-col .panel button {
  background-color: #626154;
  border: 1px solid #c5e1eb;
  padding: 0.625rem 1.75rem;
  margin: .75rem 0 0 0;
}

/* --- gallery
----------------------------- */
#gallery-container .item {
  width: 28%;
  padding: 7px 7px 12px 7px;
  box-shadow: 2px 2px 8px #222;
  -webkit-box-shadow: 2px 2px 8px #222;
  background: #fff;
  float: left;
  margin-bottom: 22px;
}

#gallery-container {
  padding: 5px 1%;
  max-width: 100%;
  margin-top: 20px;
}

#gallery-container .item img {
  width: 100%;
}

/* --- floorplans
----------------------------- */
#floorplan-section .large-12.columns {
  padding-left: 0;
}

/*#floorplan-section, #contact-section, #amenity-section {
  max-width: 800px;
}*/

h3.tg-home {
  font-size: 18px;
  color: #464841;
  text-transform: uppercase;
  top: 50px;
}

body#floorplans .grid .row.row {
  margin: 0;
}

body#floorplans .grid .panel {
  background: none;
  border: none;
  padding: 0;
}

h3.fp-title {
  font-style: italic;
  font-size: 22px;
  color: #464841;
}

h1.fp-title {
  font-size: 40px;
  text-transform: none;
}

p.fp-name,
p.fp-sqft,
p.floorplan_description {
  font-size: 15px;
  color: #464841;
  margin-bottom: 0.4rem;
}

p.unit-name {
  font-weight: bold;
  text-transform: uppercase;
}

body#floorplans .name {
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 15px;
}

body#floorplans .name p {
  margin-bottom: 0;
}

.fp-buttons button.small,
.fp-buttons .button.small {
  padding: .5rem 2rem;
}

body#floorplans .tabs {
  padding: 1px;
}

body#floorplans .tabs dd {}

body#floorplans .tabs dd a {
  display: inline-block;
  background: url("../images/bg/fp-button.png") no-repeat;
  padding: 0;
  text-align: center;
  width: 189px;
  padding: 5px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
  color: #2f2722;
  text-decoration: none;
  font-family: 'Maven Pro', 'sans-serif';
  font-weight: 700;
}

body#floorplans .tabs dd a.active,
body#floorplans .tabs dd > a:hover {
  background: url("../images/bg/fp-button-hover.png") no-repeat;
  color: #fff;
  border: inset 1px solid #d0cecd;
}

.check a,
.send-to-friend a,
a.enlarge span {
  text-transform: uppercase;
  color: #2ac6d0;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 700;
}

.row.check {
  padding: 0.5rem 0;
}

.check a:hover,
.send-to-friend a:hover,
a.enlarge span:hover {
  color: #000;
}

#floorplan-section .row {
  margin-bottom: 10px;
}

#floorplan-cat {
  margin-top: 20px;
}

.fl-info {
  line-height: 24px;
}

/* --- features
----------------------------- */
body#amenities .tabs dd > a {
  font-size: 17px;
  font-style: italic;
  color: #fff;
  text-transform: lowercase;
  background: #10a6dd;
  padding: .5rem 2rem;
}

body#amenities .tabs dd > a:hover {
  background: none repeat scroll 0 0 #5ec2dd;
}

body#amenities .tabs dd.active a {
  background: none repeat scroll 0 0 #5ec2dd;
  color: #FFFFFF;
}

body#amenities .tabs-content ul {
  margin-left: 3rem;
}

body#amenities .tabs-content h1 {
  margin-left: 1rem;
}

body#amenities .tabs-content,
body#location .tabs-content {
  background: none;
}

a.poi_title {
  background: none !important;
  font-size: 14px;
  font-family: 'Maven Pro', 'sans-serif';
}

#amenity-section ul {
  line-height: 18px;
  font-size: 14px;
  font-family: 'Maven Pro', 'sans-serif';
  color: #2f2a29;
  list-style-type: none;
}

#amenity-section ul li {
  background: url("../images/bg/blt-list.jpg") no-repeat 0px 6px;
  padding-left: 15px;
}

.amenity-list {
  margin-top: 30px !important;
}

/* --- location
----------------------------- */
body#location #map .gmaps_info_window * {
  line-height: normal !important;
}

body#location #main-content {
  padding-top: 55px;
}

.gm-style img {
  max-width: none !important;
}

.gm-style .gm-style-iw,
.gm-style .gm-style-iw a,
.gm-style .gm-style-iw span,
.gm-style .gm-style-iw label,
.gm-style .gm-style-iw div {
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

#map, .fp-wrapper {
  height: 500px;
  width: 100%;
}

body#location .name {
  color: #2f2a29;
  font-size: 14px;
}

.address {
  color: #464841;
  text-transform: uppercase;
  font-size: 12px;
}

.address a {
  color: #fff;
}

.marker {
  padding: 0 0.5rem 0 0;
  float: left;
}

body#location .medium-block-grid-2 > li {
  width: 100%;
  padding: 0;
}

.gmaps_info_window h4.name {
  color: #7E7D53;
}

h4.name {
  font-size: 14px;
  color: #918446;
  font-weight: bold;
  letter-spacing: 2px;
}

p.location,
p.cta,
span.address {
  font-size: 12px;
  color: #000;
  letter-spacing: 2px;
  margin-left: 0;
}

p.location {
  margin-bottom: .5rem;
}

body#location .tabs dd > a {
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-transform: lowercase;
  background: #10a6dd;
  padding: 0.5rem 1rem;
}

body#location .tabs dd > a:hover {
  background: none repeat scroll 0 0 #5ec2dd;
}

body#location .tabs dd.active a {
  background: none repeat scroll 0 0 #5ec2dd;
  color: #FFFFFF;
}

body#location .accordion dd.active a,
body#location .accordion dd > a:hover {
  background: url("../images/icons/minus.png") no-repeat #2ac6d0 98% 50%;
  color: #fff;
}

body#location .accordion dd a {
  background: url("../images/icons/plus.png") no-repeat #fdf4e7 98% 50%;
  color: #2f2722;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.accordion dd {
  border-bottom: 1px solid #CCCCCC;
  display: block;
  margin-bottom: 0 !important;
}

body#location .accordion dd {
  border-bottom: 1px solid #fff;
}

body#location .accordion dd > a {
  font-family: 'Maven Pro', 'sans-serif';
  font-weight: 500;
  padding: 13px 20px;
}

.gm-style img {
  max-width: none !important;
}

body#location #secondary-nav .photo-block {
  display: none;
}

/* --- contact
----------------------------- */
body#contact .columns.column-left {
  padding-left: 0;
}

body#contact .columns.column-right {
  padding-right: 0;
  padding-left: 0;
}

body#contact .captcha {
  margin-bottom: 1em;
}

.captcha {
  background: none repeat scroll 0 0 #2AC6D0;
  padding: 10px;
  border-radius: 5px;
}

.captcha input {
  background: #fff;
  border: 1px solid #2AC6D0;
}

#recaptcha_image {
  width: 100% !important;
  height: auto !important;
}

#recaptcha_image img {
  width: 100%;
}

#recaptcha_widget {
  background-color: #2AC6D0;
}

#recaptcha_widget > div {
  text-align: center;
  color: #2AC6D0;
}

#recaptcha_nav a, #recaptcha_field {
  background-color: #FDF4E7;
  text-decoration: none;
}

#recaptcha_nav a:hover i {
  color: #2AC6D0;
}

#recaptcha_nav i, #recaptcha_field, #recaptcha_audio_download, #recaptcha_audio_play_again, .recaptcha_only_if_incorrect_sol {
  color: #2AC6D0;
}

#recaptcha_nav a:hover {
  background-color: #fff;
}

#recaptcha_nav a, #recaptcha_nav a i {
  font-size: 20px !important;
  line-height: 37px;
  margin: 0px 3px;
}

#recaptcha_field {
  padding: 5px 15px;
  text-align: center;
  margin-top: 10px;
}

#recaptcha_field, #recaptcha_nav a, #recaptcha_widget, #recaptcha_challenge_image {
  border-radius: 5px;
}

.flash_body, #thank-you {
  line-height: 17px;
  color: red;
  font-size: 14px;
}

.flash_body>ul {
  margin-left: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  list-style-type: none;
}

.flash_body ul li {
  line-height: 17px;
}

#contact_move_in_on_1i,
#contact_move_in_on_2i,
#contact_move_in_on_3i {
  display: inline-block;
  width: 27%;
}

.flash_body, #thank-you {
  color: red;
}

#thank-you {
  color: #000 !important;
}

body#contact select#contact_bedrooms {
  width: 70%;
}

#recaptcha_area input {
  height: auto;
}

#recaptcha_widget_div .recaptcha_input_area {
  height: auto !important;
}

body#contact section form #flash {
  color: red;
  margin-top: 20px;
}

body#contact section form #thank-you {
  color: #000;
  margin-top: 20px;
}

body#contact form {
  margin-top: 20px;
}

h3.address-title {
  font-size: 32px;
  color: #33484b;
  font-weight: lighter;
}

body#contact label {
  font-size: 14px;
  text-transform: uppercase;
  color: #2f2a29;
}

body#contact input,
body#contact select,
body#contact textarea {
  border: 1px solid #2f2a29;
}

#new_contact button.small,
#new_contact .button.small {
  margin-top: 10px;
  background: #2ac6d0;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 30px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(182, 175, 166, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(182, 175, 166, 1);
  box-shadow: 2px 2px 0px 0px rgba(182, 175, 166, 1);
}

#new_contact button:hover,
#new_contact .button:hover {
  background: #000;
}

#new_contact input.submit {
  border: none !important;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(182, 175, 166, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(182, 175, 166, 1);
  box-shadow: 2px 2px 0px 0px rgba(182, 175, 166, 1);
}

.row .directions {
  padding-left: 70px;
}

body#contact form textarea {
  height: 200px;
}

/* --- footer
----------------------------- */
#mobile-footer {
  background: none repeat scroll 0 0 #A5A5A5;
  bottom: 0;
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

a.leaselabs {
  text-decoration: none;
  color: #000;
}

#site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 0 15px;
  text-align: left;
  width: 210px;
  z-index: 50;
  overflow: hidden;
  font-size: 14px;
  -webkit-transition: width 400ms linear;
  -moz-transition: width 400ms linear;
  -ms-transition: width 400ms linear;
  -o-transition: width 400ms linear;
  transition: width 400ms linear;
}

#site-footer  p {
  font-size: 11px;
  line-height: 15px;
}

#site-footer  a {
  color: #464841;
  text-decoration: none;
}

.footer-address {
  margin: 10px 0px;
  font-size: 11px;
  top: 25px;
  text-transform: uppercase;
}

img.equalhousing {
  vertical-align: bottom;
  margin-top: 60px;
  padding-right: 15px;
}

img.equalhousing-mobile {
  vertical-align: top;
  margin-top: 6px;
  padding-right: 0;
}

.social-links {
  text-align: right;
}

.social-links * {
  color: #fff;
  margin-left: 10px;
}

.gallery-wrap a img {
  width: auto;
}

#content-footer {
  border-top: 1px solid #dedede;
  padding-top: 20px;
  margin-top: 45px;
}

.location header {
  background: darkgrey;
}

.tabs dd > a {
  font-size: 13px;
}

.map-wrapper {
  width: 100%;
}

.lt-ie11 select {
    background: none !important;
  }

/* min-width 1028px, large screens */
@media only screen and (min-width: 64.063em) {}

@media only screen and (min-width: 40.063em) {
  #right-nav {
    max-width: 290px;
    position: fixed;
    right: 0;
    top: 0;
    width: 290px;
    z-index: 97;
    height: 100%;
  }
  nav.tab-bar {
    position: absolute;
    width: 100%;
    z-index: 95;
    height: 50px;
  }


}

@media only screen and (min-width: 1025px) {
  #site-sidebar {
    width: 210px;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
    background: #fdf4e7;
    position: fixed;
    height: 100%;
    -webkit-box-shadow: 5px 0px 6px 0px rgba(206, 206, 206, 0.7);
    -moz-box-shadow: 5px 0px 6px 0px rgba(206, 206, 206, 0.7);
    box-shadow: 5px 0px 6px 0px rgba(206, 206, 206, 0.7);
    z-index: 1;
  }
  #site-pages {
    top: 0;
    left: 220px;
    position: absolute;
    height: 100%;
    -webkit-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: left 800ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  #location-map {
    background: #f3f3f3;
    height: 70%;
  }
/*  .orbit-container{
    height: auto;
  }*/
}

@media only screen and (min-width: 90.063em) {
  #right-nav {
    max-width: 425px;
    position: fixed;
    right: 0;
    width: 425px;
    z-index: 97;
    height: 100%;
  }
  #home-content {
    padding-right: 3%;
  }
}

@media only screen and (max-width: 1024px) {
  #slideshow {
    margin-top: 50px;
  }
  .orbit-container .orbit-slides-container img {
    height: inherit;
  }
  body#floorplans .row.left {
    float: none !important;
  }
  .fp-buttons button.small, .fp-buttons .button.small {
    width: 100%;
  }
  #main-content {
    padding: 0 310px 0.9375rem 0.9375rem;
  }
  body#gallery #main-content .large-9.columns {
    padding-left: auto;
  }
  .row.row.gallery-wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .map-wrapper, .fp-wrapper {
    max-width: 100% !important;
  }
  .map-wrapper {
    margin-top: 50px;
  }
/*  .orbit-container {
    height: auto;
    max-height: 500px;
  }*/
  body#contact input, body#contact select, body#contact textarea {
    max-width: 100%;
  }
  body#location [class*="block-grid-"] {
    margin: 0;
  }
  .fancybox-large {
    min-width: auto;
    min-height: auto;
  }
  nav.nav-medium {
    display: inline-block;
    width: 100%;
  }
  #site-sidebar {
    z-index: 0;
  }
  #content-wrapper {
    width: 100% !important;
  }
  #site-sidebar {
    display: none;
  }
  #mobile-footer {
    display: block;
    z-index: 100;
    height: 50px;
    background: none repeat scroll 0 0 #FDF4E7;
    padding: 10px 15px 0 15px;
    width: 100%;
    box-shadow: 0px -4px 8px -6px #777777;
  }
  #mobile-footer p {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
  }
  /*  #right-nav {
      width: 100%;
      max-width: 100%;
      position: inherit;
      z-index: 0;
    }*/
  #secondary-nav {
    margin-left: 0;
    min-height: 100%;
  }

  .fancybox-nav span {
    visibility: visible !important;
  }
  .orbit-container .orbit-slides-container img, .feature-columns {
    min-height: inherit;
  }
}

@media only screen and (max-width: 640px) {
  .show-for-small .address {
    font-size: 18px;
    margin-top: 1rem;
  }
  p.address {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0.5rem;
  }
  a.poi_title {
    cursor: default;
  }
  nav.tab-bar {
    height: 50px;
  }
  #secondary-nav {
    min-height: inherit;
  }
  #secondary-nav-mobile .header-social {
    text-align: center;
  }
  #secondary-nav .side-block {
    display: none;
  }
  #secondary-nav-mobile {
    display: block;
    margin-top: 1rem;
  }
  #secondary-nav-mobile .mapit {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .map-wrapper {
    margin-top: 0;
  }
  .mapit .button,
  .mapit button {
    background: #2ac6d0;
    text-transform: uppercase;
  }
  .mapit .button:hover,
  .mapit button:hover {
    background: #2f2722;
  }
  .marker {
  padding: 0 0.5rem 16px 0;
  float: left;
  }
  nav.nav-medium {
    display: none;
  }
  .row.header-small {
    background: #000;
  }
  .header-small .address {
    color: #fff;
    font-size: 15px;
    padding-top: 1rem;
  }
  a.phone {
    cursor: pointer;
  }
  .row .directions {
    padding-left: 0.9375rem;
  }
  #main-content {
    padding: 0 0.9375rem;
  }

  .slideshow-wrapper .orbit-container li {
    display: inline-block;
  }

  body#floorplans .orbit-container {
    margin-top: 0;
  }
  body#floorplans .main-section {
    background: #000;
  }
  body#floorplans .tabs dd {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .floorplan-image img {
    width: 100%;
  }
  span.leasing {
    float: none;
    text-align: center;
    width: 100%;
  }
  span.leasing a.phone {
    display: block;
    margin-bottom: 25px;
  }
  span.leasing p {
    display: inline-block;
    width: 219px;
    padding-right: 62px;
  }
  #map {
    height: auto;
  }
  #map_static.show-for-small {
    display: block;
  }
  body#location .medium-block-grid-2 > li {
    width: 100%;
  }
  .row.gallery-wrap {
    display: inline-block;
    text-align: center;
  }
  .community-text p {
    margin-bottom: 1rem;
    padding-top: 0;
  }
  #mobile-footer p {
    font-size: 9px;
  }
}

@media only screen and (max-width: 320px) {
  .social-links * {
    margin-left: 2px;
  }
  .row.form-row .columns {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  body#contact section form #recaptcha_widget_div {
    margin-left: -10px;
  }
    #mobile-footer p {
    font-size: 7px;
  }
}