---
title: Page not found
published: false
---
{% extends index %}

{% block 'main' %}

%article
  {% editable_text article, format: html, rows: 5 %}
  %h1 Page not found

  %p Lorem ipsum
  {% endeditable_text %}

{% endblock %}