---
title: Amenities

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 2

handle: amenities
---
{% extends parent %}

{% block main %}

%article
  {% editable_text article, format: html, rows: 5 %}
  %h1 Amenities
  %p
    The living spaces at Briarwood Square epitomize luxury and style. In true Orange County form, these apartments in Stanton, CA highlight signature amenities and designer touches that you won't find anywhere else. At Briarwood Square, we understand which amenities will enrich and enhance our residents' lives. Each apartment comes with a spacious private patio so that you can take in the California sunshine. High-speed internet access, A/C, and an in-unit Washer and Dryer are just some of the many features available to our residents. And, with 3 sparkling pools for year around enjoyment, barbecues, and gazebos, you will truly get the Southern California experience. Residents also have access to our well maintained Fitness Center, Tot Lot, and Sun Decks. Not to mention, Briarwood Square offers off-street, enclosed garage parking! Our friendly and courteous staff is always available and wants to hear from you. Let us make your life easier--We'd love to help you find your next apartment in Stanton, CA at Briarwood Square!
  {% endeditable_text %}

{% endblock %}