---
title: Contact

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 5

handle: contact
---
{% extends index %}

{% block main %}

%article
  {% editable_text article, format: html, rows: 5 %}
  %h1 Contact
  %p
    These Stanton, CA apartments are ideally located in a wonderful, quiet neighborhood yet give you ready access to exciting attractions just minutes from your door. While many come to vacation here, Briarwood Square residents can visit local hot spots whenever they want. Each apartment highlights signature amenities and designer touches that you won't find anywhere else. Why sacrifice luxury for location when you can have both? At Briarwood Square, every floor plan has been designed to fit your needs and is customizable to make your home feel unique to you. Choose from our 1 bedroom or 2 bedroom layouts and find the perfect floor plan that fits your needs. Briarwood Square strives to be the Urban Oasis--find your home here at our apartments for rent in Stanton, CA! Contact us today using the form below or give our friendly office staff a call.
  {% endeditable_text %}

{% endblock %}