---
title: Floorplans

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 1

handle: floorplans

editable_elements:
  'slideshow/image_2': ''
  'slideshow/image_3': ''
  'slideshow/image_4': ''
---
{% extends index %}

{% block main %}

%article
  {% editable_text article, format: html, rows: 5 %}
  %h1 Floor Plans
  %p Imagine taking in beautiful beach sunsets and the mirrored orange, red, and blue hues reflected off the ocean. Or the blue summer skies by the pool with a cold drink in hand. Or, an early morning hike through natural life. Living in Stanton, CA certainly has its community perks and being so central to so many attractions, it's no mystery why residents love living at Briarwood Square. Now imagine coming home to clean lines and modern design. Imagine luxury and comfort coming together in a perfect blend to make you feel right at home at our apartments in Stanton, California. Why sacrifice luxury for location when you can have both? At Briarwood Square we have thoughtfully designed every floor plan to fit your needs yet have left them customizable to make your home feel unique to you. Choose from one-bedroom or two-bedroom layouts and find the perfect floor plan that fits your needs. Call our office for leasing information, or send in an online inquiry.
  {% endeditable_text %}

  %dl#floorplan-cat.tabs{"data-tab" => ""}
    %dd
      %a.tab-border{href: "#Onebedrooms"}
        One Bedroom
      %a.tab-border{href: "#Twobedrooms"}
        Two Bedroom
  .tabs-content
    #Onebedrooms.content
      {% with_scope bedrooms: 'one' %}
      {% for plan in contents.floor_plans %}
      {% include floor_plan with plan %}
      {% endfor %}
      {% endwith_scope %}
    #Twobedrooms.content
      {% with_scope bedrooms: 'two' %}
      {% for plan in contents.floor_plans %}
      {% include floor_plan with plan %}
      {% endfor %}
      {% endwith_scope %}

{% endblock %}