---
title: Gallery

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 3

editable_elements:
  'slideshow/image_1': '/samples/slideshow/slide_4.jpg'
  'slideshow/image_2': ''
  'slideshow/image_3': ''
  'slideshow/image_4': ''

handle: gallery
---
{% extends index %}

{% block main %}

%article
  %h1 Gallery
  #gallery-container
    {% for photo in contents.photos %}
    .item
      %a.fancybox{href: "{{ photo.photo.url | resize: '500x334' }}", rel: "gallery_images", title: "{{ photo.title }}"}
        %img{alt: "{{ photo.title }}", src: "{{ photo.photo.url }}" }
    {% endfor %}
{% endblock %}