---
title: Apartments For Rent In Stanton CA
published: true
handle: home
editable_elements:
  'information/logo': '/samples/logo.png'
  'information/picture': '/samples/picture.jpg'
  'information/phone': '714-827-8333'
  'information/address': '7545 Katella Avenue'
  'information/city': 'Stanton'
  'information/state': 'CA'
  'information/zip': '90680'
  'information/latitude': '33.8037916'
  'information/longitude': '-118.0007289'
---
!!!
/[if IE 9] <html class="lt-ie11 lt-ie10 lt-ie9">
/[if IE 10] <html class="lt-ie11 lt-ie10">
/[if IE 11] <html class="lt-ie11 ">
%html.no-js{lang: "en"}
  / <![endif]
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}

    %title {{ page.title }}

    %meta{content: "initial-scale=1,maximum-scale=1,user-scalable=no", name: "viewport"}

    {% seo %}

    %link{href: "{{ 'favicon.ico' | theme_image_url }}", rel: "ICON", type: "image/x-icon" }
    %link{href: "{{ 'normalize.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'foundation.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'foundation-icons.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'jquery.fancybox.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'jquery.maximage.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'application.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }

    {% block html_head %}{% endblock %}

    %script{language: "javascript", src: "{{ 'modernizr.js' | javascript_url }}", type: "text/javascript"}

  %body{ id: "{{ page.handle }}" }
    {% block information %}

    {% capture logo_url %}{% editable_file logo, fixed: true %}/samples/logo.png{% endeditable_file %}{% endcapture %}

    {% capture picture_url %}{% editable_file picture, fixed: true %}/samples/picture.jpg{% endeditable_file %}{% endcapture %}

    {% capture phone %}{% editable_text phone, format: raw, rows: 1, fixed: true %}714-827-8333{% endeditable_text %}{% endcapture %}

    {% capture address %}{% editable_text address, format: raw, rows: 1, fixed: true %}7545 Katella Avenue{% endeditable_text %}{% endcapture %}

    {% capture city %}{% editable_text city, format: raw, rows: 1, fixed: true %}Stanton{% endeditable_text %}{% endcapture %}

    {% capture state %}{% editable_text state, format: raw, rows: 1, fixed: true %}CA{% endeditable_text %}{% endcapture %}

    {% capture zip %}{% editable_text zip, format: raw, rows: 1, fixed: true %}90680{% endeditable_text %}{% endcapture %}

    {% capture latitude %}{% editable_text latitude, format: raw, rows: 1, fixed: true %}33.8037916{% endeditable_text %}{% endcapture %}

    {% capture longitude %}{% editable_text longitude, format: raw, rows: 1, fixed: true %}-118.0007289{% endeditable_text %}{% endcapture %}

    {% capture full_address %}{{ address }} {{ city }}, {{ state }} {{ zip }}{% endcapture %}

    {% endblock %}

    {% block slideshow %}
    - 4.times do |i|
      {% capture slideshow_image_#{i + 1} %}{% editable_file image_#{i + 1} %}/samples/slideshow/slide_#{i + 1}.jpg{% endeditable_file %}{% endcapture %}
    {% endblock %}

    {% block right_sidebar %}
    - 3.times do |i|
      {% capture sidebar_image_#{i + 1} %}{% editable_file image_#{i + 1}, fixed: true %}/samples/sidebar/image_#{i + 1}.jpg{% endeditable_file %}{% endcapture %}
    {% endblock %}

    .off-canvas-wrap
      .inner-wrap
        %nav.tab-bar.show-for-medium-down
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            %h1.title
              Menu
            #site-logo-small
              %a{href: "/", title: "Briarwood Square"}
                %img.logo{alt: "Briarwood Square", src: "{{ logo_url | resize: '125x45#' }}" }
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li{ class: 'first home-nav {% if page.handle == "home" %}active{% endif %}' }
              %a{href: "/", title: "Home"}
                Home
            %li{ class: 'fp-nav {% if page.handle == "floorplans" %}active{% endif %}' }
              %a{href: "{% path_to floorplans %}", title: "Floor Plans"}
                Floor Plans
            %li{ class: 'feature-nav {% if page.handle == "feature" %}active{% endif %}' }
              %a{href: "{% path_to amenities %}", title: "Amenities"}
                Amenities
            %li{ class: 'photo-nav {% if page.handle == "photo" %}active{% endif %}' }
              %a{href: "{% path_to gallery %}", title: "Photo Gallery"}
                Photo Gallery
            %li{ class: 'location-nav {% if page.handle == "location" %}active{% endif %}' }
              %a{href: "{% path_to location %}", title: "Neighborhood"}
                Neighborhood
            %li{ class: 'contact-nav {% if page.handle == "contact" %}active{% endif %}' }
              %a{href: "{% path_to contact %}", title: "Contact"}
                Contact
        %section#main-section
          #site-sidebar
            #site-logo.hide-for-small
              %a{href: "/", title: "Briarwood Square"}
                %img.logo{alt: "Briarwood Square", src: "{{ logo_url }}" }
            #main-nav
              %ul
                %li{ class: 'first home-nav {% if page.handle == "home" %}active{% endif %}' }
                  %span
                  %a{href: "/", title: "Home"}
                    Home
                %li{ class: 'fp-nav {% if page.handle == "floorplans" %}active{% endif %}' }
                  %span
                  %a{href: "{% path_to floorplans %}", title: "Floor Plans" }
                    Floor Plans
                %li{ class: 'feature-nav {% if page.handle == "feature" %}active{% endif %}' }
                  %span
                  %a{href: "/amenities", title: "Amenities"}
                    Amenities
                %li{ class: 'photo-nav {% if page.handle == "photo" %}active{% endif %}' }
                  %span
                  %a{href: "/gallery", title: "Photo Gallery"}
                    Photo Gallery
                %li{ class: 'location-nav {% if page.handle == "location" %}active{% endif %}' }
                  %span
                  %a{href: "/location", title: "Neighborhood"}
                    Neighborhood
                %li{ class: 'contact-nav {% if page.handle == "contact" %}active{% endif %}' }
                  %span
                  %a{href: "/contact", title: "Contact"}
                    Contact
            #site-footer
              .footer-address
                %p.left
                  {{ address }}
                  %br/
                  {{ city }}, {{ state }}
                %p.left
                  \&copy; {{ today | format_date: '%Y' }} Briarwood Square
                  %a.leaselabs{href: "http://www.leaselabs.com/", target: "_blank"}
                    Powered by LeaseLabs&trade;
                .text-right
                  %a.equal-housing{href: "http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp", target: "_blank"}
                    %img.equalhousing{alt: "Equal Housing", src: "{{ 'eho.png' | theme_image_url }}"}
          #site-pages.large-12.column
            .row.collapse
              #content-wrapper.large-12.columns
                #secondary-nav-mobile
                  .side-block
                    .header-social
                      %span
                        {{ phone }}
                      %a.fb{href: "https://www.facebook.com/BriarwoodSquare", target: "_blank", title: "Facebook"}
                        %i.fi-social-facebook.large
                    .btn-callout
                      %a.button{href: "{% editable_file pdf_application %}/samples/application.pdf{% endeditable_file %}", target: "_blank", title: "Apply Now"}
                        Apply Now
                      %a.button.expand{href: "http://www.oc-apts.com/location", target: "_blank", title: "Communities Nearby"}
                        Communities Nearby
                  %p.address
                    {{ address }}
                    %br/
                    {{ city }}, {{ state }}
                  .mapit
                    %a.button.small{href: "http://maps.google.com/?q={{ full_address }}", target: "_blank", title: "Map It"}
                      Map It
                #slideshow
                  .preloader
                  %ul{"data-options" => "animation: fade; animation_speed: 1500; timer_speed:4000; pause_on_hover: false; navigation_arrows:false", "data-orbit" => ""}
                    - 4.times do |i|
                      {% if slideshow_image_#{i + 1} != blank %}
                      %li
                        %img{alt: "View of Briarwood Square Apartments", src: "{{ slideshow_image_#{i + 1} }}" }
                      {% endif %}
                %section#main-content.large-8.columns
                  {% block main %}
                  %article
                    {% editable_text article, format: html, rows: 5 %}
                    %h1 Welcome to Briarwood Square Apartments
                    %p Classic, clean lines and beautiful green landscaping greet you at Briarwood Square. These apartments for rent in Stanton, CA are the finest in the area and truly speak to luxury living. Modern interiors with designer accents mirror your lifestyle and enrich the space. Our apartments have been thoughtfully crafted and highlight every corner with natural light to enhance the beauty and airy atmosphere. In the evening, a calm ambiance settles and residents can be found relaxing on a plush couch or entertaining guests in the spacious living areas.
                    %p Choose from either our one-bedroom layout or our variety of two-bedroom layouts to fit your personal lifestyle. Each apartment layout features a private balcony, pristine bathroom counters, and reliable kitchen appliances including a gas stove, garbage disposal, and dishwasher. When not enjoying the many interior amenities, residents can indulge in the wide variety of community amenities that Briarwood Square offers. All residents of these apartments in Stanton, CA have access to our Fitness Center with state-of-the-art equipment and fitness machines.
                    %p Take advantage of the Stanton, CA sunshine on our sun decks or by 1 of 3 sparkling pools. Treat yourself to friendly barbecues and hangout under the shade of our gazebos or in the beautifully landscaped courtyards. An enclosed parking garage takes the hassle out of searching for a place to park and our friendly, courteous staff take every hassle out of apartment living. Briarwood Square strives to be the Urban Oasis--find your home here at our apartments for rent in Stanton, CA!
                    {% endeditable_text %}
                  {% endblock %}
              #right-nav.large-4.columns
                #secondary-nav
                  .side-block
                    .header-social
                      %span
                        {{ phone }}
                      %a.fb{href: "https://www.facebook.com/BriarwoodSquare", target: "_blank", title: "Facebook"}
                        %i.fi-social-facebook.large
                    .btn-callout
                      %a.button{href: "/uploads/properties/apply_now_pdfs/original/2228/Application_to_Rent_L_R.pdf?1404165637", target: "_blank", title: "Apply Now"}
                        Apply Now
                      %a.button.expand{href: "http://www.oc-apts.com/location", target: "_blank", title: "Communities Nearby"}
                        Communities Nearby
                  - 3.times do |i|
                    {% if sidebar_image_#{i + 1} %}
                    .photo-block
                      .photo-holder
                        %img.photo-side{alt: "View of Briarwood Square Apartments", src: "{{ sidebar_image_#{i + 1} }}"}
                    {% endif %}
            .spacer50px.show-for-medium-down
            #mobile-footer.show-for-medium-down
              .footer-thirdparty
                %p.left
                  \&copy; {{ today | format_date: '%Y' }} Briarwood Square | 7545 Katella Avenue Stanton, CA 90680
                  %a.leaselabs{href: "http://www.leaselabs.com/", target: "_blank"}
                    Powered by LeaseLabs&trade;
                .text-right
                  %a.equal-housing{href: "http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp", target: "_blank"}
                    %img.equalhousing-mobile{alt: "Equal Housing", src: "{{ 'eho.png' | theme_image_url }}"}
        %a.exit-off-canvas

    {{ 'jquery.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    {{ 'jquery.fancybox.js' | javascript_tag }}
    {{ 'plugins.js' | javascript_tag }}
    {{ 'jquery.cycle.all.js' | javascript_tag }}
    {{ 'jquery.maximage.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}

    {% block misc_javascript %}{% endblock %}

    :javascript
      $(document).foundation();
