---
title: API action to get the information about the property
published: true
response_type: application/json
handle: api_information
---
{% fetch_page home as home %}
{% assign information = home.editable_elements.information %}
{
  "name": {{ site.name | json }},
  "picture": {{ information.picture | prepend: host | prepend: "http://" | json }},
  "phone": {{ information.phone | json }},
  "address": {{ information.address | json }},
  "city": {{ information.city | json }},
  "state": {{ information.state | json }},
  "zip": {{ information.zip | json }},
  "latitude": {{ information.latitude | json }},
  "longitude": {{ information.longitude | json }}
}